body {
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding: 10px;
}

div {
    height: 100%;
    width: 100%;
}

p {
    text-align: center;
    position: relative;
    top: 150px;
}

.hidden {
    visibility: hidden;
    display: none;
}

.loading {
    background: url('./spinner.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #344557;
    background-position: 0px 25px;
}

#oops {
    background: url('./oops.svg');
    background-repeat: no-repeat;
    background-position: 50% 5%;
}

#first-row {
    height: 50px;
    padding: 6px;
    font-size: 24px;
}

.half {
    width: 50%;
    display: inline-block;
    float: left;
}

.hint {
    color: #C2C2C2;
    font-size: 12px;
}

#consumed {
    color: #FF7C15;
}

#fup {
    color: #1569FF;
}

#bb-meter {
    font-size: 57px;
    text-align: center;
    background-color: #0C97D8;
    color: #fff;
    padding: 10px 0;
}
